{% extends 'base.html' %}
{% block body %}
<div class="container text-center position-absolute top-50 start-50 translate-middle">
    <div class="row align-items-center">        
        <form method="post" action="{{ url_for('.actualizar_cliente', codi=cliente[0]) }}">
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <label for="id_cedula" class="form-label">Cedula</label>
                  <input type="text" class="form-control" id="id_cedula" name="cedula" value="{{cliente[1]}}">
                  <label for="id_nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="id_nombre" name="nombre" value="{{cliente[2]}}">
                  <label for="id_apellido" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="id_apellido" name="apellido" value="{{cliente[3]}}">
                </div>
                <div class="col">
                  <label for="id_direccion" class="form-label">Direccion</label>
                  <input type="text" class="form-control" id="id_direccion" name="direccion" value="{{cliente[4]}}">
                  <label for="id_telefono" class="form-label">Telefono</label>
                  <input type="text" class="form-control" id="id_telefono" name="telefono" value="{{cliente[5]}}">
                  <label for="id_email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="id_email" name="email" value="{{cliente[6]}}">
                </div>                   
              </div>
            </div>
            <div id="emailHelp" class="form-text">Los datos del Cliente serán actualizados.</div>
            <button type="submit" class="btn btn-primary">Editar Datos</button>
          </form>          
    </div>
    <br>
    <a href="{{ url_for('.Index') }}" class="btn btn-primary">Regresar a la Lista</a>
    <a href="{{ url_for('pedido.insertar_pedido') }}" class="btn btn-primary">Regresar al menu Principal</a>
</div>
{% endblock %}